<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Login</h2>
    <form action="/login" method="post">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Digite o seu nome"
      />
      <input
        type="password"
        name="password"
        id="name"
        placeholder="Digite a sua senha"
      />
      <input type="submit" value="Entrar" />

    </form>

    <a href="signup">Cadastre-se</a>
  </body>
</html>